/* =============
    Elements
================*/

body {
    text-align: center;
    background: url("https://pixabay.com/get/eb32b30b2bfc063ed1534705fb0938c9bd22ffd41cb0194294f1c479a4/square-2724387_1920.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
   
}
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    padding: 1rem 0 ;
    background-color: #02b3e4d7;
    color: rgb(24, 24, 24);
    width: 100%;
    margin: 0 0 2rem;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

/* =============
    Classes
================*/

.interface-input-container {
    margin: 2rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interface-input-title {
    width: 120px;
    font-weight: bold;
    font-size: 1.2rem;
}

.interface-input {
    width: 60px;
    text-align: center;
    border: 2px solid;
    padding: 3px;
    font-size: 1.2rem;
}

.interface-btn-col {
    display: inline-flex;
    flex-direction: column-reverse;
    align-content: flex-end;
    margin-left: 1rem;
    flex-basis: 0%;
}

.icon {
    font-size: 2rem; 
}

.pixel-canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 

    
}

/* =============
    IDs
================*/

/* Create grid interface CSS */

#interface-container {
    background-color: #02b3e493;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    padding: .5rem 0 1rem;
    border: 2px solid #0c2127;
}

#create-btn {
    border-radius: 5px;
    background-color: white;
    border: 2px solid;
    padding: 5px;
    margin: 1rem 0 0 0;
    /* font-weight: 600; */
    font-size: .9rem;
}

/* Grid modal CSS */

#modal-mask {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
   
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: hidden;; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-content {
    background-color: #daaf7f;
    
  
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;

}

#modal-close-btn {
    color: #000000;
    font-size: 4rem;
    font-weight: bold;
    line-height: 40px;
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
}



#canvas-toolbar {
    padding: 1rem;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 300px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
}

#canvas-toolbar div {
    margin: 0 .5rem;
}

#paint-container {
    display: inline;
    position: relative;
}

#color-picker {
    text-align: start;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    height: 30px;
}

#paint-tooltip {
    position: absolute;
    width: 120px;
    background-color: #1d1d1d;
    padding: 5px 0;
    border-radius: 6px;
    display: inline-block;
    font-size: 1rem;
    right: 40px;
    border: 2px solid black;
    color:white;
    animation: bounce 1.85s ease infinite;

}

#paint-tooltip::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 2px;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent  transparent transparent #1d1d1d;
 
}

@keyframes bounce {
    0% {top: -2px;}
    50% {top: 5px;}
    100% {top: -2px;}
}

#pixel-canvas {
    top:50%;
    padding: 1rem;
}

#pixel-canvas tr {
    background-color: white;

}

/* popup */

#popup {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s 0s, visibility 0s 0.3;
}

#popup-container {
    position: absolute;
    z-index: 999;
    border: 2px solid;
    width: 50%;
    margin: auto;
    top: 25%;
    left: 0;
    right: 0;
    background-color: white;
}

#popup-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#popup-list li {
    cursor: pointer;
}

#popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }