
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

/* =============
    Elements
================*/

body {
    text-align: center;
    background: url("https://drive.google.com/uc?id=1cpnYG8TeAh76LS65mPJOA0FVLFbWefE_") no-repeat center center fixed;
    background-size: cover;
   
}
h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

/* =============
    Classes
================*/

.interface-input-container {
    margin: 2rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interface-input-title {
    width: 120px;
    font-weight: bold;
    font-size: 1.2rem;
}

.interface-input {
    width: 60px;
    text-align: center;
    border: 2px solid;
    padding: 3px;
    font-size: 1.2rem;
}

.interface-btn-col {
    display: inline-flex;
    flex-direction: column-reverse;
    align-content: flex-end;
    margin-left: 1rem;
    flex-basis: 0%;
}

.icon {
    font-size: 2rem; 
}

/* =============
    IDs
================*/

/* Create grid interface CSS */

#interface-container {
    background-color: #daaf7f;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    padding: .5rem 0 1rem;
    border: 2px solid #27190c;
}

#create-btn {
    border-radius: 5px;
    background-color: white;
    border: 2px solid;
    padding: 5px;
    margin: 1rem 0 0 0;
    /* font-weight: 600; */
    font-size: .9rem;
}

/* Grid modal CSS */

#modal-mask {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-content {
    background-color: #daaf7f;
    margin: auto;
    border: 2px solid #202020;
    width: 80%;
    min-height: 50%;
    position: relative;
}

#modal-close-btn {
    color: #000000;
    font-size: 4rem;
    font-weight: bold;
    line-height: 40px;
    position: absolute;
    right: 30px;
    top: 20px;
    cursor: pointer;
}

#canvas-toolbar {
    margin: 1rem 0 .5rem;
}

#paint-container {
    display: inline;
    position: relative;
    margin-left: 1rem;
}

#color-picker {
    text-align: start;
    border-radius: 100%;
    position: absolute;
    left: 0;
    top: 10;
    width: 100%;
    opacity: 0;
    height: 30px;
}

#pixel-canvas {
    border: solid 12px #27190c;
}

#pixel-canvas tr {
    background-color: white;
}

/* popup */

#popup {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s 0s, visibility 0s 0.3;
}

#popup-container {
    position: absolute;
    z-index: 999;
    border: 2px solid;
    width: 50%;
    margin: auto;
    top: 25%;
    left: 0;
    right: 0;
    background-color: white;
}

#popup-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#popup-list li {
    cursor: pointer;
}

#popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }